* {
    font-family: 'Raleway', sans-serif;
}

body, html {
    font-size: 100%;
    height: 100%;
}

/* NAVBAR */
.navbar ul li a {
    color: rgb(154,0,51) !important;
    font-size: 105%;
    letter-spacing: .2rem;
    font-weight: 600;
}

.navbar ul li a:hover {
    color: black!important;
}

/* MAIN HOMEPAGE */
.background-image{
    background-image: url("assets/home_page.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.background-image h1{
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 360%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
}

.background-image h5{
    color: white;
    text-align: center;
    padding: 3% 22% 0 22%;
    font-size: 170%;
    line-height: 180%;
}

/* ABOUT/MISSION SECTION */
.about-section h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 5% 0 3% 0;
    font-size: 320%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    color: rgb(154,0,51)
}

.about-section .mission-statement{
    font-size: 140%;
    line-height: 190%;
    font-weight: bold;
    letter-spacing: .05rem;
}

/* TECHNOLOGY SECTION */
.technology-section h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 7% 0 3% 0;
    font-size: 320%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    color: rgb(154,0,51);
}

.technology-section h4{
    text-align: center;
    padding-bottom: 2%;
    font-weight: bold;
    letter-spacing: .05rem;
}

.technology-section .technology-section-list{
    font-size: 130%;
    line-height: 210%;
    padding-bottom: 5%;
}

/* CLIENTS SECTION */
.clients-section h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 8% 0 3% 0;
    font-size: 320%;
    letter-spacing: .3rem;
    color: rgb(154,0,51)
}

.clients-section h4{
    text-align: center;
    padding-bottom: 2%;
    font-weight: bold;
    letter-spacing: .05rem;
    line-height: 160%;
}

.clients-section .clients-section-list{
    font-size: 130%;
    line-height: 210%;
    margin-bottom: 4%;
}

.clients-section .client-icons{
    text-align: center;
}

.clients-section .client-icon-img{
    padding-bottom: 3%;
    height: 5rem;
    width: auto;
}

.clients-section .client-title{
    color:rgb(154,0,51);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.clients-section .client-icon-row{
    margin-bottom: 5%;
}

.clients-section .client-icon-col{
    padding-left: 4%;
    padding-right: 4%;
}

/* RIBBONS */
.ribbon-1{
    background-image: url("assets/ribbon.png");
    height: 20%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}

.ribbon-2, .ribbon-3{
    background-image: url("assets/ribbon.png");
    height: 25%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6%;
}

.ribbon h5{
    color: rgb(154,0,51);
    margin-top: 4%;
    padding-top: 3%;
    text-align: center;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2rem;
}

/* CONTACT PAGE */
.contact-section h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 12% 0 3% 0;
    font-size: 320%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .3rem;
    color: rgb(154,0,51)
}

.contact-section label{
    letter-spacing: .1rem;
}

.contact-section button{
    letter-spacing: .1rem;
}

.form-control:focus {
    border-color: rgb(166,166,166);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(166, 166, 166, 0.6);
}

/* FOOTER */
.footer{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 4%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 404px){
    .background-image h1{
        margin-top: 15%;
        font-size: 250%;
    }
    .background-image h5{
        font-size: 130%;
        /* margin-top: 8%; */
    }
    .mission-statement p{
        font-size: 95%;
        line-height: 170%;
    }
    .ribbon-1 h5{
        font-size: 140%;
        padding-top: 8%;
    }
    .technology-section h4{
        font-size: 125%;
        line-height: 150%
    }
    .ribbon-2 h5{
        font-size: 140%;
        padding-top: 7%;
    }
    .clients-section h4{
        font-size: 120%;
    }
    #contact-section{
        margin-top: 25%;
        margin-bottom: 15%;
    }

}